.DS_Store
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.pytest_cache/

venv/
.env/
*.env
streamlined-adapter/test.env

.ipynb_checkpoints/
nest_backup.tar.gz

.vscode/
.idea/

build/
dist/
node_modules/

